{% extends "adminViews/layout_admin.html.twig" %}

{% block title %} Détail auto {% endblock %}

{% block content %}
    <h4>{{ title }}</h4>
    <div class="row detailAuto">
        <div class="col-md-6" >
            Marque: <label> {{ completeAuto.auto.marque }}</label><br>
            Modèle: <label> {{ completeAuto.auto.modele }}</label><br>
            Version: <label> {{ completeAuto.auto.version }}</label><br>
            Carburant: <label> {{ completeAuto.auto.carburant }}</label><br>
            Transmission: <label> {{ completeAuto.auto.transmission }}</label><br>
            Puissance: <label> {{ completeAuto.auto.puissance }}</label><br>
            Prix: <label> {{ completeAuto.auto.prix }}</label><br>
            Kilometrage: <label> {{ completeAuto.auto.kilometrage }}</label><br>
            Année: <label> {{ completeAuto.auto.annee }}</label><br>
            Couleur extérieure: <label> {{ completeAuto.auto.couleurExt }}</label><br>

            <h4>Equipements:</h4>

            {% for equipement in completeAuto.equipements %}
                <label>{{ equipement.libelle }} - </label>
            {% endfor %}

        </div> <!-- [/col-md-6] -->
        <div class="col-md-6">


            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    {% set i = 1 %}
                    {% for image in completeAuto.images %}

                        <div class="item {% if i==1 %}active{% endif %}">
                            <img src="{{ app.request.basepath }}/images/{{ image.pathname }}" alt="...">
                        </div>

                        {% set i = 0 %}
                    {% endfor %}

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div><!-- [/col-md-6] -->
    </div><!-- [/row] -->

{% endblock %}